*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

.venv/

.vscode/
*.code-workspace

.env

*.log
staticfiles/

*/migrations/*.py
*/migrations/*.pyc
!*/migrations/__init__.py


secrets.json
secret_key.txt

settings_local.py
local_settings.py

/site
